.blog {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 75px auto 0;

  @include viewport--md {
    margin: 34px auto 0;
  }

  @include viewport--sm {
    margin: 21px auto 0;
  }
}

.blog h2 {
  margin: 0;
  padding: 0 400px;

  font-family: $font-title;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;

  color: $color-text;

  @include viewport--lg {
    padding: 0 100px;
  }
}

.blog__link {
  text-align: center;

  margin: 15px 0 0;
  padding: 4px 0;
  border-bottom: 1px solid $color-logo;

  transition: opacity $transition-base;

  @include viewport--md {
    margin-top: 15px 0 0;
    padding: 5px 0;
  }

  @include viewport--sm {
    margin-top: 14px 0 0;
  }

  &--read-all {
    margin: 15px 400px 0;

    @include viewport--lg {
      margin: 15px 100px 0;
    }

    @include viewport--md {
      margin-top: 15px 15px 15px 0;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.blog__list {
  display: grid;
  grid-template:
    "a b"
    "c b"
    /1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 30px;

  width: 1170px;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    width: 85.65%;
    grid-template-rows: 1fr 1fr;
  }

  @include viewport--md {
    display: flex;
    flex-direction: column;

    width: 88.28%;
    margin-top: 37px;
  }

  @include viewport--sm {
    width: 290px;
    margin-top: 40px;
  }
}

.blog__item {
  display: grid;
  grid-template-columns: 285px 285px;

  @include viewport--lg {
    grid-template-columns: 50% 50%;
  }

  @include viewport--md {
    margin-top: 21px;
  }

  @include viewport--sm {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    margin-top: 10px;
  }
}

.blog__item:nth-child(3n) {
  grid-area: b;
  position: relative;
  grid-template:
    "a b"
    "c d"
    /255px 285px;
  grid-template-rows: 1fr 1fr;
  gap: 30px;

  @include viewport--lg {
    grid-template:
      "a b"
      "c d"
      /calc((100% - 30px) / 2) calc((100% - 30px) / 2);
    grid-template-rows: 1fr 1fr;
  }

  @include viewport--md {
    grid-template:
      "a b"
      /50% 50%;
    gap: 0;
  }

  @include viewport--sm {
    grid-template:
      "a"
      "b"
      /1fr;
  }
}

.blog__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 67px 61px 30px;
  background-color: $color-blog;

  @include viewport--md {
    padding: 67px 88px 30px;
  }

  @include viewport--sm {
    padding: 44px 59px 15px;
  }
}

.blog__text h3 {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 17px;

  font-family: $font-title;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-align: center;

  color: $color-footer;
}

.blog__text p {
  order: -1;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: $color-optional;
}

.blog__item:nth-child(3n) .blog__text {
  grid-area: d;

  @include viewport--md {
    grid-area: b;
    padding: 81px 88px 30px;
  }

  @include viewport--md {
    min-height: 256px;
    padding: 60px 59px 15px;
  }
}

.blog__photo {
  height: 300px;

  @include viewport--sm {
    order: -1;
    height: 256px;
  }
}

.blog__photo img {
  height: 100%;
  min-width: 100%;
}

.blog__item:nth-child(3n) .blog__photo {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include viewport--md {
    position: static;
  }
}

.blog__photo--desktop {
  @include viewport--md {
    display: none;
  }
}

.blog__photo--tablet {
  display: none;

  @include viewport--md {
    display: block;
  }

  @include viewport--sm {
    img {
      width: 290px;
      height: 256px;
    }
  }
}
