.faq {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 120px auto 0;

  @include viewport--md {
    margin: 68px auto 0;
  }

  @include viewport--sm {
    margin: 59px auto 0;
  }
}

.faq h2 {
  margin: 0;

  font-family: $font-title;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;

  color: $color-text;

  @include viewport--sm {
    width: 290px;
  }
}

.faq__list {
  width: 970px;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  border: 1px solid $color-logo;

  @include viewport--lg {
    width: 71%;
  }

  @include viewport--md {
    width: 88.28%;
  }

  @include viewport--sm {
    width: 290px;
    margin-top: 30px;
  }
}

.faq__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  border-bottom: 1px solid $color-logo;

  @include viewport--md {
    padding: 44px 53px 44px 48px;
  }

  @include viewport--sm {
    padding: 15px 25px 21px;
  }
}

.faq__item:last-child {
  border-bottom: none;
}

.faq__question {
  display: flex;
  align-items: center;

  padding: 42px 49px 38px 42px;

  @include viewport--md {
    padding: 0;
  }

  @include viewport--sm {
    align-items: flex-start;
    width: 100%;
  }
}

.faq__question p {
  margin: 0;
  max-width: 70%;
  font-size: 18px;
  line-height: 23px;

  @include viewport--sm {
    max-width: 89%;
    font-size: 16px;
    line-height: 22px;
  }
}

.faq__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: $color-transparent;

  @include viewport--sm {
    margin-top: 5px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -24px;
    right: -52px;
    width: 970px;
    height: 112px;
  }

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
  }

  .faq__btn-close {
    display: none;
  }

  .faq__btn-close svg {
    @include viewport--md {
      width: 23px;
      height: 12px;
    }
  }

  &--active {
    .faq__btn-close {
      display: flex;
    }

    .faq__btn-open {
      display: none;
    }
  }

  &--no-js {
    display: none;
  }
}

.faq__answer {
  width: 527px;
  margin: -32px auto 41px 49px;

  @include viewport--md {
    width: 530px;
    margin: 0;
  }

  @include viewport--sm {
    width: 205px;
  }
}

.faq__answer p {
  margin: 0;
  padding-top: 25px;
  font-weight: 400;

  @include viewport--sm {
    padding-top: 15px;
    font-size: 14px;
    line-height: 20px;
  }
}

.faq__answer--close {
  max-height: 100%;
}

.faq__answer--close p {
  display: none;
}
