.follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 106px auto 0;
  padding-bottom: 129px;

  @include viewport--md {
    margin: 72px auto 0;
    padding-bottom: 80px;
  }

  @include viewport--sm {
    margin: 60px auto 0;
    padding-bottom: 70px;
  }
}

.follow-us h2 {
  margin: 0;
  width: 1170px;

  font-family: $font-title;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;

  color: $color-text;

  @include viewport--lg {
    width: 88%;
  }
}

.follow-us__link {
  text-align: center;

  margin: 27px 400px 0;
  padding: 4px;
  border-bottom: 1px solid $color-logo;

  transition: opacity $transition-base;

  @include viewport--lg {
    margin: 0 100px;
  }

  @include viewport--md {
    margin: 15px 15px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.follow-us__blok {
  display: grid;
  grid-template:
    "a b c"
    /230px 400px 480px;
  gap: 30px;

  width: 1170px;
  margin-top: 60px;

  @include viewport--lg {
    grid-template:
      "a b c"
      /19.66% 34.19% 41.03%;
    gap: 2.56%;

    width: 85.65%;
  }

  @include viewport--md {
    width: 88.28%;
    margin-top: 45px;
  }

  @include viewport--sm {
    display: flex;
    gap: 0;

    width: 90.62%;
    margin-top: 30px;
  }
}

.follow-us__subblok {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--left {
    @include viewport--sm {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: 45%;
      margin-right: 5%;

      img {
        flex-grow: 1;
      }
    }
  }

  &--right {
    @include viewport--sm {
      width: 50%;
    }
  }
}

.follow-us__photo--1 {
  @include viewport--sm {
    margin: auto 0;
  }
}

.follow-us__photo--10 {
  @include viewport--sm {
    margin-bottom: 15px;
  }
}

.follow-us__photo img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.follow-us__photo--4,
.follow-us__photo--7 {
  @include viewport--lg {
    width: 48.33%;
  }

  @include viewport--sm {
    width: 100%;
  }
}

.follow-us__photo--5,
.follow-us__photo--6 {
  @include viewport--lg {
    width: 45.41%;
  }
}

.follow-us__photo--1,
.follow-us__photo--5,
.follow-us__photo--7 {
  align-self: flex-end;

  @include viewport--sm {
    align-self: stretch;
  }
}

.follow-us__photo--9,
.follow-us__photo--10 {
  display: none;

  @include viewport--sm {
    display: block;
    width: 100%;
  }
}

.follow-us__photo--10 img {

  @include viewport--sm {
    width: 100%;
    height: 100%;
  }
}

.follow-us__photo--2,
.follow-us__photo--5,
.follow-us__photo--6,
.follow-us__photo--7 {
  @include viewport--sm {
    display: none;
  }
}

.follow-us__subblok--mobile {
  @include viewport--sm {
    display: none;
  }
}
