.footer {
  width: 100%;
  margin-top: auto;
  min-height: 338px;

  color: $color-fonbasic;
  background-color: $color-footer;

  @include viewport--md {
    min-height: 446px;
  }

  @include viewport--sm {
    min-height: 773px;
  }
}

.footer a {
  color: $color-fonbasic;
  font-weight: 500;
}

.footer__wrapper {
  display: flex;
  width: 1170px;
  margin: 60px auto;

  @include viewport--lg {
    width: 85.65%;
    margin: 20px auto;
  }

  @include viewport--md {
    flex-direction: column;
    width: 88.28%;
    margin: 20px auto;
  }

  @include viewport--sm {
    width: 90.62%;
    margin: 19px auto;
  }
}

.footer__wrapper-tablet {
  display: flex;
  margin-top: 17px;

  @include viewport--lg {
    width: 84.51%;
  }

  @include viewport--md {
    width: 100%;
    margin-top: 25px;
  }

  @include viewport--sm {
    flex-direction: column;
    width: 90.62%;
  }
}

.footer__sign-up {
  width: 500px;
  margin-right: 90px;

  @include viewport--lg {
    width: 42.73%;
    margin-right: 7.52%;
  }

  @include viewport--md {
    width: 82.6%;
    margin-right: 0;
  }

  @include viewport--sm {
    width: 100%;
  }
}

.footer__sign-up h3 {
  margin: 0;
  margin-top: 30px;

  color: $color-fonbasic;

  font-family: $font-title;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

.footer__sign-up p {
  margin: 0;
  margin-top: 10px;

  color: $color-optional;

  font-family: $font-main;
  font-weight: 400;

  @include viewport--sm {
    margin-top: 14px;
  }
}

.footer__field {
  display: flex;

  width: 100%;
  margin-top: 34px;
  padding-bottom: 2px;
  border-bottom: 1px solid $color-fonbasic;

  font-weight: 500;

  @include viewport--md {
    margin-top: 32px;
  }

  @include viewport--sm {
    margin-top: 34px;
  }
}

.footer__field input {
  display: flex;

  margin-right: 27px;

  color: $color-optional;
  background-color: $color-transparent;
  border: none;

  font-size: 14px;

  transition: opacity $transition-base;

  @include viewport--sm {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.footer__button {
  display: flex;
  align-items: center;

  width: 103px;
  margin-left: auto;
  padding: 10px 0;

  color: $color-fonbasic;
  background-color: $color-transparent;
  border: none;

  transition: opacity $transition-base;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
  }

  @include viewport--md {
    padding-bottom: 10px;
  }
}

.footer__button span {
  flex-shrink: 0;
  margin-right: 12px;
  width: 62px;

  @include viewport--lg {
    width: 61%;
    margin-right: 11.65%;
  }
}

.footer__button svg {
  flex-shrink: 0;
}

.footer__ordering {
  width: 177px;
  margin-right: 65px;

  @include viewport--lg {
    width: 30.41%;
    margin-right: 11.51%;
  }

  @include viewport--md {
    width: 25%;
    margin-right: 12.5%;
  }

  @include viewport--sm {
    width: 100%;
    margin-right: 0;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @include viewport--sm {
    &--mobile {
      flex-direction: row;
      margin-right: 0;
    }
  }
}

.footer__item {
  width: 100%;
  margin: 0;
  margin-top: 21px;
  padding: 0;

  @include viewport--sm {
    &--mobile {
      margin-right: 36px;
      margin-bottom: 0;
    }

    &--mobile span {
      display: none;
    }
  }
}

.footer__item a {
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.footer__about {
  width: 136px;
  margin-right: 87px;

  @include viewport--lg {
    width: 23.37%;
    margin-right: 14.95%;
  }

  @include viewport--md {
    width: 18.11%;
    margin-right: 11.83%;
  }

  @include viewport--sm {
    width: 100%;
    margin-top: 22px;
  }
}

.footer__social {
  width: 115px;
  margin-right: 0;

  @include viewport--lg {
    width: 19.76%;
  }

  @include viewport--md {
    width: 16.96%;
  }

  @include viewport--sm {
    width: 197px;
    margin-top: 27px;
    margin-left: 2px;
  }
}

.footer__social a {
  display: grid;
  grid-template-columns: 15px 1fr;
  gap: 15px;
  width: 100%;

  @include viewport--sm {
    display: flex;
  }
}

.footer__social svg {
  margin: auto;

  @include viewport--sm {
    margin: 0;
    transform: scale(1.25);
  }
}
