.header {
  width: 100%;
  min-height: 176px;
  line-height: 24px;

  @include viewport--md {
    min-height: 126px;
  }

  @include viewport--sm {
    min-height: 92px;
  }

  &.no-js {
    @include viewport--md {
      width: 100%;
      min-height: 778px;
      padding: 0 45px 45px 45px;

      background-color: $color-logo;

      .header__icon-cart,
      .header__logo,
      .header__toggle {
        color: $color-fonbasic;
      }

      .header__wrapper-top {
        @include viewport--md {
          width: 100%;
        }
      }

      .header__wrapper-bottom {
        @include viewport--md {
          display: flex;
        }
      }
    }

    @include viewport--sm {
      width: 100%;
      min-height: 684px;
      padding: 0 15px 15px 15px;
    }
  }

  &.open {
    @include viewport--md {
      width: 100%;

      background-color: $color-logo;

      position: absolute;
      z-index: 10;
      max-height: 100vh;
      min-height: 100vh;
      overflow-y: scroll;
      padding: 0 45px 45px 45px;

      .header__icon-cart,
      .header__logo,
      .header__toggle {
        color: $color-fonbasic;
      }

      .header__wrapper-top {
        @include viewport--md {
          width: 100%;
        }
      }

      .header__wrapper-bottom {
        @include viewport--md {
          display: flex;
        }
      }
    }

    @include viewport--sm {
      width: 100%;
      padding: 0 15px 15px 15px;
    }
  }
}

.header a {
  color: $color-text;
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 98px;

  @include viewport--md {
    padding: 0;
  }

  &.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;

    @include viewport--md {
      padding: 0 45px 45px 45px;
    }

    @include viewport--sm {
      padding: 0 15px 15px 15px;
    }
  }
}

.header__wrapper-top {
  display: flex;
  position: relative;

  width: 1170px;
  min-height: 115px;

  @include viewport--lg {
    width: 85.65%;
  }

  @include viewport--md {
    width: 88.28%;
    min-height: 126px;
  }

  @include viewport--sm {
    width: 90.62%;
    min-height: 92px;
  }
}

.header__wrapper-top form {
  width: 522px;
  margin: 34px 0 0 0;
  min-height: 70px;

  @include viewport--lg {
    width: 42.75%;
    margin-right: auto;
  }

  @include viewport--md {
    display: none;
  }
}

.header__form {
  display: flex;
  align-items: center;

  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.header__button {
  display: flex;

  margin-right: 5px;
  padding: 0;

  background-color: $color-transparent;
  border: none;

  transition: opacity $transition-base;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.header__form input {
  color: $color-optional;
  background-color: $color-transparent;
  border: none;

  font-size: 14px;
  padding: 10px;
}

// .header__logo {
//   color: $color-logo;
// }

.header .header__logo {
  margin: 30px auto auto auto;
  padding: 0;
  color: $color-logo;

  transition: opacity $transition-base;

  @include viewport--md {
    margin: 30px auto auto auto;
  }

  @include viewport--sm {
    margin: 20px auto auto auto;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }

  &--main {
    &:hover,
    &:focus {
      outline: none;
      opacity: 1;
    }
  }
}

.header__logo svg {
  @include viewport--sm {
    width: 52px;
    height: 52px;
  }
}

.header__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  list-style: none;

  width: 522px;
  margin: 40px 0 0 0;
  padding: 0;

  @include viewport--lg {
    width: 42.75%;
    margin-left: auto;
  }

  @include viewport--md {
    display: none;
  }
}

.header__item {
  display: flex;
  margin-left: 30px;
}

.header__toggle {
  display: none;
  color: $color-text;

  transition: opacity $transition-base;

  @include viewport--md {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 54px;
    left: 0;
  }

  @include viewport--sm {
    top: 37px;
    left: 0;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
  }
}

.header__wrapper-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid $color-line;

  @include viewport--md {
    display: none;
    border-top: none;
  }
}

.header__icon-cart {
  display: none;
  color: $color-text;

  transition: opacity $transition-base;

  @include viewport--md {
    display: flex;
    position: absolute;
    top: 54px;
    right: -1px;
  }

  @include viewport--sm {
    top: 37px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
  }
}
