.intro {
  position: relative;
  width: 100%;
}

.intro__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50.1%;
  top: 39%;
  transform: translate(-50%);

  @include viewport--md {
    left: 48.9%;
  }

  @include viewport--sm {
    top: 40.8%;
  }
}

.intro__text h3 {
  margin: 0;
  padding: 0;

  font-family: $font-title;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.03em;

  color: $color-fonbasic;

  @include viewport--sm {
    font-size: 38px;
    line-height: 49px;
  }
}

.intro__text p {
  margin: 0;
  margin-top: -6px;
  padding: 0;

  font-family: $font-title;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;

  color: $color-fonbasic;

  @include viewport--sm {
    margin-top: -7px;

    font-size: 34px;
    line-height: 44px;
  }
}


.intro__photo img {
  width: 100%;
}

.intro__photo--desktop {
  width: 100%;

  @include viewport--md {
    display: none;
  }
}

.intro__photo--tablet {
  display: none;

  @include viewport--md {
    display: block;
  }

  @include viewport--sm {
    display: none;
  }
}

.intro__photo--mobile {
  display: none;

  @include viewport--sm {
    display: block;
  }
}
