.intro {
  position: relative;
  width: 100%;
}

.intro__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 180px 390px 183px;

  @include viewport--md {
    padding: 181px 233px 182px 211px;
  }

  @include viewport--sm {
    padding: 188px 15px;
  }
}

.intro__text h3 {
  margin: 0;
  padding: 0;

  font-family: $font-title;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-fonbasic;

  @include viewport--sm {
    font-size: 38px;
    line-height: 49px;
  }
}

.intro__text p {
  margin: 0;
  margin-top: -6px;
  padding: 0;

  font-family: $font-title;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;
  text-align: center;

  color: $color-fonbasic;

  @include viewport--sm {
    margin-top: -7px;

    font-size: 34px;
    line-height: 44px;
  }
}


.intro__photo img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__photo--desktop {
  width: 100%;

  @include viewport--md {
    display: none;
  }
}

.intro__photo--tablet {
  display: none;

  @include viewport--md {
    display: block;
  }

  @include viewport--sm {
    display: none;
  }
}

.intro__photo--mobile {
  display: none;

  @include viewport--sm {
    display: block;
  }
}
