.modal-card {
  background-color: $color-overlay;

  &--window {
    background-color: $color-fonbasic;
  }
}

.modal-card__wrapper {
  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  min-height: 100%;
  padding: 60px 40px;

  @include viewport--sm {
    padding: 60px 16px;
  }
}

.modal-card__content {
  position: relative;
  width: 502px;
  margin-top: 300px;
  padding: 46px 35px 56px;

  &--window {
    margin-top: 0;
    box-shadow: 0 5px 32px $color-shadow;
  }

  @include viewport--md {
    margin-top: 198px;
    padding: 46px 29px 56px;

    &--window {
      margin-top: 0;
    }
  }

  @include viewport--sm {
    margin-top: 57px;
    width: 290px;
    padding: 39px 15px 42px;

    &--window {
      margin-top: 0;
    }
  }
}

.modal-card__order {
  display: flex;
  flex-direction: column;
}

.modal-card__order h2 {
  align-self: center;
  margin: 0;

  font-family: $font-title;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;

  @include viewport--sm {
    max-width: 200px;

    font-size: 24px;
    line-height: 29px;
  }
}

.modal-card__description {
  display: flex;
  margin-top: 41px;

  font-size: 18px;
  line-height: 23px;

  @include viewport--sm {
    margin-top: 30px;

    font-size: 16px;
    line-height: 21px;
  }
}

.modal-card__picture {
  flex-shrink: 0;

  width: 88px;
  height: 79px;
  margin-right: 17px;
  margin-top: 5px;

  @include viewport--md {
    margin-right: 20px;
  }

  @include viewport--sm {
    width: 70px;
    height: 63px;
    margin-right: 15px;
  }
}

.modal-card__name {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin-right: auto;
}

.modal-card__name h3 {
  margin: 0;

  font-family: $font-title;
  font-weight: 700;
}

.modal-card__name span {
  margin-top: 8px;

  @include viewport--sm {
    margin-top: 4px;
  }
}

.modal-card__quantity {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewport--sm {
    margin-top: 2px;
  }
}

.modal-card__quantity p {
  margin: 0;
  margin-bottom: -5px;

  @include viewport--md {
    margin-top: 12px;
    margin-bottom: 0;
  }

  @include viewport--sm {
    margin-top: 8px;
    margin-bottom: -2px;
  }
}

.modal-card__quantity button {
  border: none;
  background-color: $color-transparent;
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.5;
  }
}

.modal-card__text {
  display: flex;
  margin-top: 55px;

  font-size: 14px;
  line-height: 18px;

  @include viewport--sm {
    flex-direction: column;

    margin-bottom: 0;
    margin-top: 49px;
    font-size: 12px;
    line-height: 16px;
  }
}

.modal-card__text span {
  margin-right: auto;
  padding-right: 20px;
  font-weight: 400;
}

.modal-card__text span:nth-child(2n) {
  margin-right: 0;
  padding-right: 0;

  font-weight: 500;

  @include viewport--sm {
    margin-top: 12px;
  }
}

.modal-card__buttons {
  display: flex;
  margin-top: 37px;

  @include viewport--sm {
    flex-direction: column;
    margin-top: 31px;
  }
}

.modal-card__button {
  width: 200px;

  @include viewport--md {
    width: 206px;
  }

  @include viewport--sm {
    width: 260px;
  }
}

.modal-card__button--continue {
  margin-right: 30px;
  color: $color-text;
  background-color: $color-fonbasic;
  border: 1px solid $color-logo;

  @include viewport--sm {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.modal-card__close-btn {
  right: 23px;
  top: 18px;

  @include viewport--sm {
    right: 16px;
    top: 16px;
  }
}
