.new-in {
  width: 100%;
  margin: 117px auto 0;

  @include viewport--md {
    margin: 70px auto 0;
  }

  @include viewport--sm {
    margin: 60px auto 0;
  }

  &--card {
    padding-bottom: 85px;

    @include viewport--md {
      padding-bottom: 45px;
    }

    @include viewport--sm {
      margin-top: 56px;
      padding-bottom: 33px;
    }
  }
}

.new-in__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 1170px;
  margin: 0 auto;

  @include viewport--lg {
    width: 85.65%;
  }

  @include viewport--md {
    width: 88.28%;
  }

  @include viewport--sm {
    width: 290px;
  }
}

.new-in h2 {
  margin: 0;

  font-family: $font-title;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;

  color: $color-text;
}

.new-in__link {
  text-align: center;
  margin: 0;
  margin-top: 26px;
  padding: 0;
  border-bottom: 1px solid $color-logo;

  @include viewport--md {
    margin-top: 13px;
    padding: 5px 0;
  }

  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }
}

.new-in__slides {
  position: relative;
  width: 100%;
  margin: 59px auto 0;

  @include viewport--md {
    margin: 50px auto 0;
  }

  @include viewport--sm {
    margin: 40px auto 0;
  }
}

.new-in__arrow-left {
  display: block;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: -2px;
  width: 30px;
  height: 11px;
  margin-top: 0;

  @include viewport--md {
    width: 36px;
    height: 15px;
  }

  @include viewport--sm {
    display: none;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }

  &::after {
    content: "";
  }
}

.new-in__arrow-right {
  display: block;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 5px;
  width: 30px;
  height: 11px;
  margin-top: 0;

  @include viewport--md {
    width: 36px;
    height: 15px;
  }

  @include viewport--sm {
    display: none;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }

  &::after {
    content: "";
  }
}

.new-in__arrow-left svg {
  width: 30px;
  height: 11px;

  @include viewport--md {
    width: 36px;
    height: 15px;
  }
}

.new-in__arrow-right svg {
  width: 30px;
  height: 11px;

  @include viewport--md {
    width: 36px;
    height: 15px;
  }
}

.new-in__slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 270px;
  margin-right: 30px;

  @include viewport--lg {
    width: calc((100% - 90px) / 4);
  }

  @include viewport--md {
    width: calc((100% - 30px) / 2);
  }
}

.new-in__photo {
  order: -1;
  width: 270px;
  height: 284px;

  @include viewport--lg {
    width: 100%;
  }

  @include viewport--md {
    // width: 324px;
    height: 340px;
  }

  @include viewport--sm {
    // width: 130px;
    height: 136px;
  }
}

.new-in__photo img {
  width: 100%;
  height: 100%;
}

.new-in__slide dl {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  margin-top: 17px;
}

.new-in__slide dt,
.new-in__slide dd {
  margin: 0;
  margin-top: 5px;
  text-align: center;
}

.new-in__slide dt {
  @include viewport--sm {
    margin-top: 0;
  }
}

.new-in__slide dd {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.new-in__pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: static;

  margin: 53px auto;
  padding: 0;
  color: $color-text;

  @include viewport--md {
    margin: 43px auto;
  }

  @include viewport--sm {
    margin: 33px auto;
  }
}

.new-in__pagination span {
  margin-right: 14px;

  @include viewport--sm {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.25;
  }
}

.new-in__pagination span:last-of-type {
  margin-right: 0;
}
