<h2>Log In</h2>
<div class="modal-login__picture">
  <!-- 1х: 430px; 2x: 860px -->
  <img
    width="430"
    height="138"
    src="img/content/login-desktop@1x.jpg"
    srcset="img/content/login-desktop@2x.jpg 2x"
    alt="photo of jewellery"
  />
</div>
<form action="https://echo.htmlacademy.ru" method="get">
  <div class="modal-login__field">
    <input
      id="user-email-window"
      type="email"
      name="user-email-window"
      placeholder="Your E-mail"
      minlength="7"
      aria-label="field for email"
      autocomplete="off"
      required
    />
    <input
      id="user-password-window"
      type="password"
      name="user-password-window"
      placeholder="Password"
      minlength="7"
      aria-label="field for email"
      autocomplete="off"
      required
    />
    <a class="modal-login__forgot" href="#">Forgot your password?</a>
  </div>
  <button type="submit" class="modal-login__button btn">Log In</button>
</form>

<div class="modal-login__text">
  <span>Don’t have an account?</span>
  <a class="modal-login__link" href="#">Sign up</a>
</div>
