<div class="modal-card__order">
  <h3>The item was added to your cart</h3>
  <div class="modal-card__description">
    <div class="modal-card__picture">
      <!-- 1х: 88px; 2x: 176px -->
      <img
        width="88"
        height="79"
        src="img/content/card/necklace-detail_mobile@1x.jpg"
        srcset="img/content/card/necklace-detail_mobile@2x.jpg 2x"
        alt="necklace-detail"
      />
    </div>

    <div class="modal-card__name">
      <h4>Gold Necklace</h4>
      <span>$ 115</span>
    </div>
    <div class="modal-card__quantity">
      <span>
        <svg width="14" height="14" viewBox="0 0 14 14">
          <use xlink:href="#icon_plus"></use>
        </svg>
      </span>
      <p>1</p>
      <span>
        <svg width="14" height="2" viewBox="0 0 14 2">
          <use xlink:href="#icon_minus"></use>
        </svg>
      </span>
    </div>
  </div>

  <div class="modal-card__text">
    <span>You have 1 item in the cart</span>
    <span>Cart subtotal: $ 115</span>
  </div>

  <div class="modal-card__buttons">
    <a
      class="modal-card__button modal-card__button--continue btn"
      href="catalog.html"
      aria-label="transfer to page of catalog"
    >
      Continue shopping
    </a>
    <a
      class="modal-card__button btn"
      href="cart.html"
      aria-label="transfer to page of cart"
    >
      Checkout
    </a>
  </div>

  <button
    class="modal__close-btn modal-card__close-btn btn-reset"
    type="button"
    aria-label="close popup"
  >
    <svg width="14" height="14" viewBox="0 0 14 14">
      <use xlink:href="#icon_close"></use>
    </svg>
  </button>
</div>
