<form action="https://echo.htmlacademy.ru" method="get">
  <div class="modal-filter__filter">
    <div class="modal-filter__field-wrapper">
      <div class="modal-filter__field">
        <div class="modal-filter__name">
          <p>Product</p>
          <button
            class="modal-filter__toggle no-js active"
            type="button"
            aria-label="button for opening of field"
          >
            <span class="modal-filter__btn-close">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_top"></use>
              </svg>
            </span>
            <span class="modal-filter__btn-open">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="modal-filter__options">
          <ul class="modal-filter__list">
            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="necklaces-filter-window"
                value="necklaces-filter-window"
                id="necklaces-filter-window"
              />
              <label for="necklaces-filter-window">
                <span>Necklaces</span>
              </label>
            </li>

            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="chokers-filter-window"
                value="chokers-filter-window"
                id="chokers-filter-window"
              />
              <label for="chokers-filter-window">
                <span>Chokers</span>
              </label>
            </li>

            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="rings-filter-window"
                value="rings-filter-window"
                id="rings-filter-window"
              />
              <label for="rings-filter-window">
                <span>Rings</span>
              </label>
            </li>
            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="earrings-filter-window"
                value="earrings-filter-window"
                id="earrings-filter-window"
              />
              <label for="earrings-filter-window">
                <span>Earrings</span>
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-filter__field">
        <div class="modal-filter__name">
          <p>Material</p>
          <button
            class="modal-filter__toggle no-js active"
            type="button"
            aria-label="button for opening of question"
          >
            <span class="modal-filter__btn-close">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_top"></use>
              </svg>
            </span>
            <span class="modal-filter__btn-open">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="modal-filter__options">
          <ul class="modal-filter__list">
            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="gold-filter-window"
                value="gold-filter-window"
                id="gold-filter-window"
              />
              <label for="gold-filter-window">
                <span>Gold</span>
              </label>
            </li>

            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="silver-filter-window"
                value="silver-filter-window"
                id="silver-filter-window"
              />
              <label for="silver-filter-window">
                <span>Silver</span>
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-filter__field">
        <div class="modal-filter__name">
          <p>Collection</p>
          <button
            class="modal-filter__toggle no-js active"
            type="button"
            aria-label="button for opening of question"
          >
            <span class="modal-filter__btn-close">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_top"></use>
              </svg>
            </span>
            <span class="modal-filter__btn-open">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="modal-filter__options">
          <ul class="modal-filter__list">
            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="flamingo-filter-window"
                value="flamingo-filter-window"
                id="flamingo-filter-window"
              />
              <label for="flamingo-filter-window">
                <span>Pink flamingo</span>
              </label>
            </li>

            <li class="modal-filter__item">
              <input
                type="checkbox"
                name="dreams-filter-window"
                value="dreams-filter-window"
                id="dreams-filter-window"
              />
              <label for="dreams-filter-window">
                <span>Dreams</span>
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-filter__field">
        <div class="modal-filter__name">
          <p>Price</p>
          <button
            class="modal-filter__toggle no-js active"
            type="button"
            aria-label="button for opening of question"
          >
            <span class="modal-filter__btn-close">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_top"></use>
              </svg>
            </span>
            <span class="modal-filter__btn-open">
              <svg width="23" height="12" viewBox="0 0 17 10" fill="none">
                <use xlink:href="#pointer_down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="modal-filter__options modal-filter__options--price">
          <div class="nouislider"></div>
        </div>
      </div>
      <button class="modal-filter__button btn" type="submit" aria-label="apply">
        Apply
      </button>
      <button
        class="modal-filter__button btn modal-filter__button--clear"
        type="reset"
        aria-label="clear all"
      >
        Clear All
      </button>
    </div>
  </div>
</form>
