.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 68px;
  padding: 10px;

  color: $color-fonbasic;
  background-color: $color-logo;
  border: none;
  transition: opacity $transition-base;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.5;
  }
}
